{% extends "base.html" %}

{% block title %} Kafelki {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div id="user_container" class="absolute">
    <span class="">Hi, {{user}}!</span>
    <input type="button" value="Logout" onclick="window.location.replace('{% url "logout" %}')" class="pr-2 pl-2 p-1 rounded-lg cursor-pointer mt-1 bg-slate-600 hover:bg-orange-400" />
</div>
{% else %}
<div id="login-button" class="absolute">
    <input type="button" value="Login" onclick="show_login_container()" class="pr-2 pl-2 p-1 rounded-lg focus:animate-bounce cursor-pointer mt-1 bg-slate-600 hover:bg-orange-400" />
</div>
{% endif %}

<div id="tile_container" class="grid sm:grif-cols-1 md:grid-cols-2 lg:grid-cols-4 mt-5 gap-4">
    {% for tile in tiles %}
    <div onclick="show_comments('{{tile.id}}')" id="{{tile.id}}" class="tile flex focus:animate-bounce cursor-pointer flex-wrap p-10 rounded-sm mt-5 shadow shadow-gray-800 transition ease-in-out hover:-translate-y-52 hover:shadow-2xl hover:shadow-gray-800 hover:-translate-y-1 hover:scale-110 duration-300 {{tile.category.color}}">
        <div class="grid grid-cols-2">
            <div class="w-1/2 h-full">
                <div class="text-xl border-b p-2">{{tile.name}}</div>
                <div class="p-2">{{tile.description}}</div>
                <div class="p-2">{{tile.category.name}}</div>
            </div>

            <div class="w-1/2 h-full overflow-y-auto p-2">
                <div class="bg-slate-900 mt-2 p-2 rounded-sm shadow-sm shadow-white">
                    siemka
                </div>
                <form method="POST" action="{% url 'add_comment' %}">
                    {% csrf_token %}
                    <input type="hidden" name="tile" value="{{tile.id}}">
                    {{CommentForm}}
                    <input type="submit" value="Create!">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <div onclick="show_tile()" class="flex justify-center items-center bg-back-100 shadow transition ease-in-out hover:-translate-y-1 hover:shadow-2xl hover:shadow-gray-800 hover:-translate-y-1 hover:scale-110 duration-300 shadow-gray-800 p-10 mt-5 bg-lime-600 cursor-pointer rounded-sm">
        <svg version="1.1" class="text-gray-200 fill-current h-12 w-12" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 0 60.364 60.364" style="enable-background:new 0 0 60.364 60.364;" xml:space="preserve" width="40" height="40">
            <g>
                <path d="M54.454,23.18l-18.609-0.002L35.844,5.91C35.845,2.646,33.198,0,29.934,0c-3.263,0-5.909,2.646-5.909,5.91v17.269
                         L5.91,23.178C2.646,23.179,0,25.825,0,29.088c0.002,3.264,2.646,5.909,5.91,5.909h18.115v19.457c0,3.267,2.646,5.91,5.91,5.91
                         c3.264,0,5.909-2.646,5.91-5.908V34.997h18.611c3.262,0,5.908-2.645,5.908-5.907C60.367,25.824,57.718,23.178,54.454,23.18z"/>
            </g>
        </svg>
    </div>
    {% endif %}
</div>

{% url 'add_tile' as add_tile %}
{% include 'form.html' with name="tile-create" title="Add tile!" action=add_tile form=TileForm.as_p submit_name="Create!" message="Do u want to add category?" message_value="Add category!" message_onclick="hide_all(); show_category()" %}

{% url 'add_category' as add_category %}
{% include 'form.html' with name="category-create" title="Add category!" action=add_category form=CategoryForm.as_p submit_name="Create!" message="Do u want to add tile?" message_value="Add tile!" message_onclick="hide_all(); show_tile()" %}

{% url 'login' as login_url %}
{% include 'form.html' with name="login" title="Login" action=login_url submit_name="login!" message="Dont have account?" message_value="Register!" message_onclick="hide_all()" form=LoginForm.as_p %}

{% endblock %}


{% block script %}
TILE_ID = '#tile-create-container'
CATEGORY_ID = '#category-create-container'
LOGIN_ID = "#login-container"
function hide_tile() { $(TILE_ID).addClass("invisible") }
function hide_category() { $(CATEGORY_ID).addClass("invisible") }
function hide_login() { $(LOGIN_ID).addClass("invisible") }
function show_tile() { $(TILE_ID).removeClass("invisible") }
function show_category() { $(CATEGORY_ID).removeClass("invisible") }
function show_login() { $(LOGIN_ID).removeClass("invisible") }

function hide_all() { hide_tile(); hide_category(); hide_login() }

function show_login_container() {
    $(LOGIN_ID).toggleClass("invisible")
}

function show_comments(id) {
    var div = document.getElementById('tile_container');
    var tiles = div.getElementsByClassName('tile');

    for (let i = 0; i < tiles.length; i += 1) {
        tiles[i].classList.remove("col-span-2");
    }

    let tile=document.getElementById(id)
    tile.classList.add("col-span-2");
}
{% endblock %}

{% block style %}
{% endblock %}
